---
http_interactions:
- request:
    method: post
    uri: https://mais-uat.auth.us-west-2.amazoncognito.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Cognito-Request-Id:
      - 4ad44864-83a5-48ab-aaa8-c57eadb8171c
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Thu, 27 Mar 2025 20:21:10 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/orcid/v1/users/0000-0002-5466-7798
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0e408faf-055b-438d-8ad7-3c1934bca5e5
      X-Amz-Apigw-Id:
      - IGjwjEJbvHcEJSA=
    body:
      encoding: UTF-8
      string: '{"status":404,"errorMessage":"ORCID Id ''0000-0002-5466-7798'' does
        not exist."}'
  recorded_at: Thu, 27 Mar 2025 20:21:10 GMT
recorded_with: VCR 6.3.1
