---
http_interactions:
- request:
    method: post
    uri: https://mais.suapiuat.stanford.edu/api/oauth/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-6813b8641b13fdbb573cf0b3 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"Bearer","expires_in":3600,"scope":"orcid"}'
  recorded_at: Wed, 19 Jul 2023 16:46:31 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/mais/orcid/v1/users/0000-0002-5466-7798
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-6813b8641c132c3e5a4dfb5d 0
      Status:
      - '404'
      X-Sl-Assetpath:
      - "/StanfordUAT/Mais/Orcid/users"
      X-Sl-Asseturipath:
      - "/api/1/rest/feed-master/queue/StanfordUAT/Mais/Orcid/users"
      X-Sl-Authorized:
      - 'true'
      X-Sl-Clientip:
      - 172.20.21.210
      X-Sl-Pathinfo:
      - 0000-0002-5466-7798
      X-Sl-Proxy:
      - 'false'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"errorMessage":"ORCID Id ''0000-0002-5466-7798'' does
        not exist."}'
  recorded_at: Wed, 19 Jul 2023 16:46:32 GMT
recorded_with: VCR 6.2.0
