---
http_interactions:
- request:
    method: post
    uri: https://mais-uat.auth.us-west-2.amazoncognito.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Cognito-Request-Id:
      - be3ccfd4-011d-4a31-be28-1f6394ccacde
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Thu, 27 Mar 2025 20:20:36 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/orcid/v1/users/totally-bogus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 699fffb2-38d4-45ed-99ad-3e864dcfef6f
      X-Amz-Apigw-Id:
      - IGjrREBOPHcEYyw=
    body:
      encoding: UTF-8
      string: '{"status":404,"errorMessage":"ORCID Id ''totally-bogus'' does not exist."}'
  recorded_at: Thu, 27 Mar 2025 20:20:36 GMT
recorded_with: VCR 6.3.1
