---
http_interactions:
- request:
    method: post
    uri: https://mais-uat.auth.us-west-2.amazoncognito.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Cognito-Request-Id:
      - 61f2cc84-2fd7-4f73-a0a0-6b27a3bc62ce
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Thu, 27 Mar 2025 20:21:09 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/orcid/v1/users/tdelcont
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a5c7d8c6-5aa8-4e13-ab23-504c9bbbac02
      X-Amz-Apigw-Id:
      - IGjwYEbtvHcET5g=
    body:
      encoding: UTF-8
      string: '{"sunet_id":"tdelcont","orcid_id":"https://sandbox.orcid.org/0000-0002-4589-7232","access_token":"private_access_token","scope":["/read-limited"],"last_updated":"2021-05-07T22:11:00.000"}'
  recorded_at: Thu, 27 Mar 2025 20:21:09 GMT
recorded_with: VCR 6.3.1
