---
http_interactions:
- request:
    method: post
    uri: https://mais.suapiuat.stanford.edu/api/oauth/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-ae06b7643b1c50f941fbc694 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"Bearer","expires_in":3600,"scope":"orcid"}'
  recorded_at: Tue, 18 Jul 2023 21:39:58 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/mais/orcid/v1/users/0000-0002-5466-7797
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-ae06b7643c1cc85b6dc91c72 0
      Status:
      - '200'
      X-Sl-Assetpath:
      - "/StanfordUAT/Mais/Orcid/users"
      X-Sl-Asseturipath:
      - "/api/1/rest/feed-master/queue/StanfordUAT/Mais/Orcid/users"
      X-Sl-Authorized:
      - 'true'
      X-Sl-Clientip:
      - 172.20.21.210
      X-Sl-Pathinfo:
      - 0000-0002-5466-7797
      X-Sl-Proxy:
      - 'false'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sunet_id":"vivnwong","orcid_id":"https://sandbox.orcid.org/0000-0002-5466-7797","access_token":"XXXXXXXX-7e60-4f7b-b7d4-4bd21d9c5618","scope":["/read-limited","/activities/update","/person/update"],"last_updated":"2021-05-28T09:50:14.000"}'
  recorded_at: Tue, 18 Jul 2023 21:39:58 GMT
recorded_with: VCR 6.2.0
