---
http_interactions:
- request:
    method: post
    uri: https://mais-uat.auth.us-west-2.amazoncognito.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Cognito-Request-Id:
      - e155840d-0a50-42f5-9f3c-b13e28960b71
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Thu, 27 Mar 2025 20:21:09 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/orcid/v1/users/0000-0002-5466-7797
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 80bc25b8-b150-4827-8e46-6a760a4c4f1f
      X-Amz-Apigw-Id:
      - IGjweGfpvHcEE3w=
    body:
      encoding: UTF-8
      string: '{"sunet_id":"vivnwong","orcid_id":"https://sandbox.orcid.org/0000-0002-5466-7797","access_token":"private_access_token","scope":["/read-limited","/activities/update","/person/update"],"last_updated":"2021-05-28T09:50:14.000"}'
  recorded_at: Thu, 27 Mar 2025 20:21:10 GMT
recorded_with: VCR 6.3.1
