---
http_interactions:
- request:
    method: post
    uri: https://mais-uat.auth.us-west-2.amazoncognito.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Cognito-Request-Id:
      - 7184fc2c-c8b9-417c-a7d5-56f8b4ed46d9
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Thu, 27 Mar 2025 20:04:01 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/orcid/v1/users?page_size=2&scope=ANY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 500
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c9ffdc20-6c74-4e1e-aea9-970244b6cb4a
      X-Amz-Apigw-Id:
      - IGhP1Hx3vHcEumA=
    body:
      encoding: UTF-8
      string: '{"status":500,"errorMessage":"Boom! Something went wrong on the server."}'
  recorded_at: Thu, 27 Mar 2025 20:04:02 GMT
recorded_with: VCR 6.3.1
