---
http_interactions:
- request:
    method: post
    uri: https://aswsuat.stanford.edu/api/oauth/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-1587ac642f0aa6096f816b3c 0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","token_type":"Bearer","expires_in":3600,"scope":"orcid"}'
  recorded_at: Mon, 10 Jul 2023 22:32:53 GMT
- request:
    method: get
    uri: https://aswsuat.stanford.edu/mais/orcid/v1/users?scope=ANY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-1587ac64d909e689e600ca61 0
      Status:
      - '200'
      X-Sl-Assetpath:
      - "/StanfordUAT/Mais/Orcid/users"
      X-Sl-Asseturipath:
      - "/api/1/rest/feed-master/queue/StanfordUAT/Mais/Orcid/users"
      X-Sl-Authorized:
      - 'true'
      X-Sl-Clientip:
      - 172.20.21.210
      X-Sl-Pathinfo:
      - ''
      X-Sl-Proxy:
      - 'false'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"current_page":1,"total_records":12,"page_size":100,"total_pages":1},"results":[{"sunet_id":"tdelcont","orcid_id":"https://sandbox.orcid.org/0000-0002-4589-7232","access_token":"XXXXXXXX-cfea-412e-9238-d9f103fde7c9","scope":["/read-limited"],"last_updated":"2021-05-07T22:11:00.000"},{"sunet_id":"jlittman","orcid_id":"https://sandbox.orcid.org/0000-0003-3437-349X","access_token":"XXXXXXXX-294e-4bc8-8afd-96315b06ae04","scope":["/read-limited","/activities/update","/person/update"],"last_updated":"2021-05-14T05:04:24.000"},{"sunet_id":"ddieckma","orcid_id":"https://sandbox.orcid.org/0000-0002-4481-5100","access_token":"XXXXXXXX-e1b0-4885-83f5-1909e355d017","scope":["/read-limited","/activities/update","/person/update"],"last_updated":"2021-05-14T09:2[...]
