---
http_interactions:
- request:
    method: post
    uri: https://mais-uat.auth.us-west-2.amazoncognito.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Cognito-Request-Id:
      - 38a61c28-8840-4b58-b67a-a17eec6e7bba
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Thu, 27 Mar 2025 20:21:08 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/orcid/v1/users?page_size=2&scope=ANY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 130d2d40-f18d-424b-bc21-8cff058cb05b
      X-Amz-Apigw-Id:
      - IGjwTGqjvHcEtKw=
    body:
      encoding: UTF-8
      string: '{"meta":{"current_page":1,"total_records":12,"page_size":100,"total_pages":1},"results":[{"sunet_id":"tdelcont","orcid_id":"https://sandbox.orcid.org/0000-0002-4589-7232","access_token":"private_access_token","scope":["/read-limited"],"last_updated":"2021-05-07T22:11:00.000"},{"sunet_id":"jlittman","orcid_id":"https://sandbox.orcid.org/0000-0003-3437-349X","access_token":"68cf29cb-294e-4bc8-8afd-96315b06ae04","scope":["/read-limited","/activities/update","/person/update"],"last_updated":"2021-05-14T05:04:24.000"},{"sunet_id":"ddieckma","orcid_id":"https://sandbox.orcid.org/0000-0002-4481-5100","access_token":"f4ff7836-e1b0-4885-83f5-1909e355d017","scope":["/read-limited","/activities/update","/person/update"],"last_updated":"2021-05-14T09:2[...]
