---
http_interactions:
- request:
    method: post
    uri: https://mais-uat.auth.us-west-2.amazoncognito.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=abc123&client_secret=def456&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Cognito-Request-Id:
      - 2b196a1b-a063-4e14-9977-6af3da27987d
    body:
      encoding: UTF-8
      string: '{"access_token":"private_access_token","expires_in":300,"token_type":"Bearer"}'
  recorded_at: Tue, 29 Apr 2025 21:08:03 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/orcid/v1/users?page_size=2&scope=ANY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ce734697-4376-42f4-aa2f-685d60089a61
      X-Sl-Asseturipath:
      - "/api/1/rest/feed-master/queue/StanfordUAT/Mais/Orcid/users"
      X-Amzn-Remapped-Content-Length:
      - '763'
      X-Sl-Proxy:
      - 'false'
      X-Sl-Clientip:
      - 172.20.21.210
      X-Amz-Apigw-Id:
      - JzbkMEECPHcETQQ=
      Status:
      - '200'
      X-Sl-Pathinfo:
      - ''
      X-Sl-Assetpath:
      - "/StanfordUAT/Mais/Orcid/users"
      X-Sl-Authorized:
      - 'true'
      X-Amzn-Remapped-Date:
      - Tue, 29 Apr 2025 21:08:04 GMT
    body:
      encoding: UTF-8
      string: '{"meta":{"current_page":1,"total_records":12,"page_size":2,"total_pages":6},"results":[{"sunet_id":"tdelcont","orcid_id":"https://sandbox.orcid.org/0000-0002-4589-7232","access_token":"private_access_token","scope":["/read-limited"],"last_updated":"2021-05-07T22:11:00.000"},{"sunet_id":"jlittman","orcid_id":"https://sandbox.orcid.org/0000-0003-3437-349X","access_token":"private_access_token","scope":["/read-limited","/activities/update","/person/update"],"last_updated":"2021-05-14T05:04:24.000"}],"links":{"self":"/users?scope=any&page_number=1&page_size=2","first":"/users?scope=any&page_number=1&page_size=2","prev":"","next":"/users?scope=any&page_number=2&page_size=2","last":"/users?scope=any&page_number=6&page_size=2"}}'
  recorded_at: Tue, 29 Apr 2025 21:08:04 GMT
- request:
    method: get
    uri: https://mais.suapiuat.stanford.edu/orcid/v1/users?page_number=2&page_size=2&scope=any
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer private_bearer_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 18d862ab-c676-42c7-b525-ac982182c894
      X-Sl-Asseturipath:
      - "/api/1/rest/feed-master/queue/Stanfor[...]
[...]
